@model OnlineShop.Models.ProductModel
@{
    ViewData["Title"] = "Shop";
}

<h1>Shop</h1>

<h1>@Html.DisplayNameFor(x => x.ProductId)</h1>
<h1>@Html.DisplayNameFor(x => x.Price)</h1>
<h1>@Html.DisplayNameFor(x => x.Category)</h1>
<h1>@Html.DisplayNameFor(x => x.Description)</h1>

